@import "config";

body {
  background-color: $primary-light;

  .MuiStepLabel-label.Mui-completed {
    color: $success-dark !important;
  }
  .MuiStepLabel-label.Mui-active {
    color: $primary-dark !important;
  }
}
